@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;1,500;1,600;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1f2124;
	color: #e3e3e3;
	font-family: 'Montserrat', sans-serif;
}

#header_links {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	background-color: #141517;
	border-radius: 25px;
	margin: 10px;
}

#footer_block {
	background-color: #141517;
	text-align: center;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 10px;
	margin-top: 0;
	clear: both;
}

/*
-------------------
 Главная страница 
-------------------
*/



#first {
	background: url('https://img2.akspic.ru/crops/8/4/7/2/7/172748/172748-reka_chambal-voda-san_francisko_oklend_bej_bridzh-planshet-oblako-1920x1080.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
	border-radius: 15px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin: 10px;
	margin-top: 0;
	line-height: 40px;
}

#rasskaz {
	line-height: 30px;
}

#rasskaz summary {
	text-align: center;
}

#form_block {
	line-height: 25px;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

#form_area {
	text-align: center;
}

#send-form {
	background-color: #141517;
	border-radius: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 300px;
  	display: flex;
  	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

.input_text {
	font-family: 'Montserrat', sans-serif;
	color: #e3e3e3;
	border-radius: 10px;
	padding-left: 5px;
	background-color: #141517;
}

/*
-------------------
	 Остальное 
-------------------
*/

.main-link {
	color: #176eff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

hr {
	opacity: 0%;
}

.height_vh {
	margin-bottom: 50%;
}

.default-block {
	background-color: #2e3136;
	border-radius: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	margin: 10px;
	margin-top: 0;
}

.gradient-block {
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK0OEBwdGrOPWafoS0-fy_ENQTYX3RQTti16rWHNI7&s') no-repeat;
	background-size: cover;
	border: 10px solid;
	border-color: #2e3136;
	border-radius: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin: 10px;
	margin-top: 0;
}

.text-button {
	background-color: #2e3136;
	border-radius: 20px;
	text-align: center;
	margin: 10px;
	margin-top: 0;
	width: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#back-other-pages-button {
	margin: 0 auto;

}

.default-text {
	margin-bottom: 20px;
	padding-left: 20px;
