@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;1,500;1,600;1,800&display=swap');

/*
-------------------
 Главная страница 
-------------------
*/

body {
	background-color: #1f2124;
	color: #e3e3e3;
	font-family: 'Montserrat', sans-serif;
}

#header_links {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	background-color: #141517;
	border-radius: 25px;

}

#first {
	background: url('https://img2.akspic.ru/crops/8/4/7/2/7/172748/172748-reka_chambal-voda-san_francisko_oklend_bej_bridzh-planshet-oblako-1920x1080.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
	border-radius: 15px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#rasskaz {
	background-color: #2e3136;
	border-radius: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
}

#rasskaz summary {
	text-align: center;
}

#form_block {
	background-color: #2e3136;
	border-radius: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.input_text {
	font-family: 'Montserrat', sans-serif;
	color: #e3e3e3;
	border-radius: 10px;
	padding-left: 5px;
	background-color: #141517;
}

#footer_block {
	background-color: #141517;
	text-align: center;
	border-radius: 25px;
	padding-top: 1px;
	padding-bottom: 1px;
}

/*
-------------------
	Остальное 
-------------------
*/

.main-link {
	color: #176eff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

hr {
	opacity: 0%;
}

.height_vh {
	margin-bottom: 55vh;
}

#send-form {
	background-color: #141517;
	border-radius: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	width: 170px;

}
