.main-link {
	color: purple;
	text-decoration: none;
}

#first {
	background: url('https://img2.akspic.ru/crops/8/4/7/2/7/172748/172748-reka_chambal-voda-san_francisko_oklend_bej_bridzh-planshet-oblako-1920x1080.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 200px;
	color: black;
}

body {
	background-color: #141414;
	color: white;
}
